<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Sport Reality</title>
</head>
<body>
<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <section id="home" class="g-bg-img-hero g-pos-rel  g-pt-100"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Successful submission.</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/" class="btn btn-lg btn-info">Back</a>

                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>